[package]
name = "{{ project_name }}"
version = "{{ project_version }}"
authors = ["{{ project_author }}"]
edition = "2018"
build = "build.rs"

[build-dependencies]
# rustsourcebundler = { git = "https://github.com/lpenz/rust-sourcebundler" }
rustsourcebundler = { git = "https://github.com/davidB/rust-sourcebundler" }

[dependencies]
chrono = "0.4.6"
itertools = "0.8.0"
libc = "0.2.50"
rand = "0.6.5"
regex = "1.1.0"
time = "0.1.42"

[dev-dependencies]
spectral = "0.6.0"

[profile.release]
# to have debug symbol when profiling code
debug = true
